@model IEnumerable<BidWars.Models.OpenAuctionVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Open Auctions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.AuctionId">Details</a>
                }
                else
                {
                    <a asp-controller="Bids" asp-action="Create" asp-route-id="@item.AuctionId">Place Bid</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
